<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900">
      <div class="form p-10 text-white">
        <form action="/edit" method="post">
          <input
            name="previous"
            class="block px-5 py-2 bg-zinc-800 w-1/4 rounded-md outline-none"
            type="text"
            placeholder="previous"
            value="<%= filename %>"
          />
          <textarea
            name="new"
            class="block mt-2 px-5 py-2 bg-zinc-800 resize-none w-1/4 rounded-md outline-none"
            placeholder="new"
          ></textarea>
          <input
            class="mt-2 bg-yellow-600 px-5 py-2 rounded"
            type="submit"
            value="Update Name"
          />
        </form>
      </div>
    </div>
  </body>
</html>
